@import '../../styles/variables.scss';

.logo {
    margin: 100px 0 45px;
}
.auth_title {
    font-size: 24px;
    font-weight: 800;
    color: $grey;
    margin-bottom: 20px;
}

.AuthBack {
    height: 100%;
    background: linear-gradient(180deg, #FFFFEA 45.69%, #FF55A0 117.73%);
}