@import '../../../../shared/styles/variables.scss';

.upload_photo {
  &__form {
    display: flex;
    gap: 18px;
  }

  &__btn {
    border-radius: 5px !important;
    width: 140px !important;
    height: 35px !important;
    margin-top: 70px;
  }

  &__title {
    margin: 30px;
    color: $black;
    font-size: 24px;
    font-weight: 800;
  }

  &__nomination {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}
