@import '../../styles/variables.scss';

.auth_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 27px;
    width: 100%;
}

.auth_label {
    font-size: 14px;
    font-weight: 500;
    color: $grey;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.avatar_input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;

    &_style {
    position: relative;
    color: #FF3E9B;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    background-color: transparent;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #FF3E9B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
    }
}

.avatar_preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}